.Content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: gutter(xl) 0 gutter(sm);
  }

  h1 {
    margin-top: 0;
  }

  div,
  p,
  ul,
  ol,
  blockquote,
  pre {
    margin: 0 0 gutter(xl) 0;
  }

  blockquote > p:last-child {
    margin: 0;
  }

  p,
  ul,
  ol,
  blockquote,
  pre {
    font-size: font-size(md);
  }

  blockquote {
    margin-left: gutter(lg);
    padding: gutter(sm) 0 gutter(sm) gutter(lg);
    border-left: solid 0.3rem $color-grey-300;
  }

  ul,
  ol {
    margin-left: gutter(lg);
  }

  :not(pre) > code {
    display: inline-block;
    padding: 0 gutter(sm);
    color: inherit;
    background: $color-grey-100;
    font-size: 1em / $space-ratio;
  }

  img {
    display: block;
    margin: 0 0 gutter(xl) 0;
    max-width: 100%;
    height: auto;
  }
}
