.Section {
}

.Section-header {
  text-align: center;
}

.Section-title {
  padding: gutter(xs) gutter(md);
  font-family: $font-primary;
  font-size: heading-size(sm);
}

.Section-subTitle {
  margin: 0;
  font-family: $font-secondary;
  font-size: font-size(sm);
  text-transform: uppercase;
  letter-spacing: $letter-spacing;
}

.Section-content {
  margin-top: gutter(xl);
  text-align: center;
}
