@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  }

  @return $value;
}

@function font-size($size) {
  $sizes: (
    xs: $font-base / pow($space-ratio, 2),
    sm: $font-base / pow($space-ratio, 1),
    md: $font-base,
    lg: $font-base * pow($space-ratio, 1),
    xl: $font-base * pow($space-ratio, 2),
    xx: $font-base * pow($space-ratio, 3)
  );

  @if (map-has-key($sizes, $size)) {
    @return map-get($sizes, $size);
  } @else {
    @warn "$size doesn't exist in $sizes.";
  }
}

@function heading-size($size) {
  $sizes: (
    sm: $font-base * pow($space-ratio, 1),
    md: $font-base * pow($space-ratio, 2),
    lg: $font-base * pow($space-ratio, 3),
    xl: $font-base * pow($space-ratio, 4),
  );

  @if (map-has-key($sizes, $size)) {
    @return map-get($sizes, $size);
  } @else {
    @warn "$size doesn't exist in $sizes.";
  }
}

@function line-height($size) {
  $sizes: (
    sm: $line-height-base,
    md: $line-height-base * pow($space-ratio, 1)
  );

  @if (map-has-key($sizes, $size)) {
    @return map-get($sizes, $size);
  } @else {
    @warn "$size doesn't exist in $sizes.";
  }
}

@function gutter($size) {
  $sizes: (
    xs: $gutter-base / pow($space-ratio, 4),
    sm: $gutter-base / pow($space-ratio, 2),
    md: $gutter-base,
    lg: $gutter-base * pow($space-ratio, 2),
    xl: $gutter-base * pow($space-ratio, 4),
    xx: $gutter-base * pow($space-ratio, 6)
  );

  @if (map-has-key($sizes, $size)) {
    @return map-get($sizes, $size);
  } @else {
    @warn "$size doesn't exist in $sizes.";
  }
}
