$color-brand-500: #2196F3;
$color-brand-700: #1976D2;

$color-grey-100: #F5F5F5;
$color-grey-300: #E0E0E0;
$color-grey-500: #9E9E9E;
$color-grey-700: #616161;
$color-grey-900: #212121;

$gutter-base: 1rem;

$font-primary: Lora, Georgia, serif;
$font-secondary: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-base: 1.6rem;
$line-height-base: 1.3;
$letter-spacing: 0.9px;

$border-radius: 0.4rem;

$space-ratio: 1.250;
