{{ define "main" }}
  <section class="Section">
    <div class="Section-header">
      <h1 class="Section-title">Uh Oh...</h1>
      <p class="Section-subTitle">That's a 404.</p>
    </div>
    <div class="Section-content">
      <div class="Content">
        <img src="{{ "/img/404.svg" | absURL }}" alt="" width="100%">
        <p>My site has undergone some big changes recently, and some of content is still in the process of being ported over. Looking for something? Try the <a href="{{ "/dev" | absURL }}">dev archives.</a></p>
      </div>
    </div>
  </section>
{{ end }}
