{{ define "main" }}
  <section class="Section">
    <div class="Section-header">
      <h1 class="Section-title">Artsy Stuff</h1>
      <p class="Section-subTitle">Explorations with paint and canvas.</p>
    </div>
    <div class="Section-content">
      {{ range .Data.Pages }}
        <article class="Section-article">
          <h2 class="Section-article-content">
            <a href="{{ .Permalink }}" class="Section-article-link">
              {{ .Title }} &hellip; {{ .Date.Format "2006-01-02" }}
            </a>
          </h2>
        </article>
      {{ end }}
    </div>
  </section>
{{ end }}
