{{ define "main" }}
  <section class="Section">
    <div class="Section-header">
      <h1 class="Section-title">Get In Touch</h1>
      <p class="Section-subTitle">Ask me anything, or just say hi.</p>
    </div>
    <div class="Section-content">
      <div class="Content">
        <table class="Table">
          <tr>
            <th>Email</td>
            <td><a href="mailto:nick@callmenick.com">nick@callmenick.com</a></td>
          </tr>
          <tr>
            <th>GitHub</td>
            <td><a href="https://github.com/callmenick">callmenick</a></td>
          </tr>
          <tr>
            <th>Codepen</td>
            <td><a href="https://codepen.io/callmenick/">callmenick</a></td>
          </tr>
          <tr>
            <th>Twitter</td>
            <td><a href="https://twitter.com/nicksalloum_">nicksalloum_</a></td>
          </tr>
          <tr>
            <th>LinkedIn</th>
            <td><a href="https://www.linkedin.com/in/nicksalloum/">nicksalloum</a></td>
          </tr>
        </table>
      </div>
    </div>
  </section>
{{ end }}
