{{ define "main" }}
  <section class="Section">
    <div class="Section-header">
      <h1 class="Section-title">Dev Musings</h1>
      <p class="Section-subTitle">A collection of writings from my exploits as a software engineer.</p>
    </div>
    <div class="Section-content">
      {{ range .Data.Pages }}
        <article class="Section-article">
          <a href="{{ .Permalink }}" class="Section-article-link">
            <h2 class="Section-article-title">{{ .Title }}</h2>
            <span class="Section-article-date">{{ .Date.Format "2 Jan 2006" }}</span>
          </a>
        </article>
      {{ end }}
    </div>
  </section>
{{ end }}
